<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="/index/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/index/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="/index/css/font-awesome.css" rel="stylesheet">
    <!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="/index/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- //web-fonts -->
    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }

        @keyframes click-wave {
            0% {
                height: 40px;
                width: 40px;
                opacity: 0.35;
                position: relative;
            }
            100% {
                height: 200px;
                width: 200px;
                margin-left: -80px;
                margin-top: -80px;
                opacity: 0;
            }
        }

        .option-input {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
            position: relative;
            top: 13.33333px;
            right: 0;
            bottom: 0;
            left: 0;
            height: 40px;
            width: 40px;
            transition: all 0.15s ease-out 0s;
            background: #cbd1d8;
            border: none;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            margin-right: 0.5rem;
            outline: none;
            position: relative;
            z-index: 1000;
        }

        .option-input:hover {
            background: #9faab7;
        }

        .option-input:checked {
            background: #40e0d0;
        }

        .option-input:checked::before {
            height: 40px;
            width: 40px;
            position: absolute;
            content: '✔';
            display: inline-block;
            font-size: 26.66667px;
            text-align: center;
            line-height: 40px;
        }

        .option-input:checked::after {
            -webkit-animation: click-wave 0.65s;
            -moz-animation: click-wave 0.65s;
            animation: click-wave 0.65s;
            background: #40e0d0;
            content: '';
            display: block;
            position: relative;
            z-index: 100;
        }

        .option-input.radio {
            border-radius: 50%;
        }

        .option-input.radio::after {
            border-radius: 50%;
        }

        body .ots {
            width: 100%;
            height: 100%;
            padding-left: 15%;
            padding-top: 50px;
        }

        #sub_btn {
            padding: 20px 50px;
            border-radius: 12px;
            background-color: white;
            color: black;
            border: 2px solid #008CBA;
            font-size: 18px;
            cursor: pointer;
            text-align: center;
        }

        #sub_btn:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            background-color: #008CBA;
            color: white;
        }

        #sub_btn:active {
            background-color: #008CBA;
            transform: translateY(4px);
        }
    </style>
    <script language ="javascript" >
        var tim;
        var min = '<%= question.length %>';
        var sec = '0';
        var f = new Date();

        function customSubmit(someValue){
        	 document.getElementById('min').value = min;
        	 document.getElementById('sec').value = sec;
        	 document.getElementById('questionForm').submit();
        	 }

        function examTimer() {
            if (parseInt(sec) > 9) {
			    document.getElementById("showtime").innerHTML = "Remaining time : "+min+":" + sec;
                sec = parseInt(sec) - 1;
                tim = setTimeout("examTimer()", 1000);
            }
            else if (parseInt(sec) > 0) {
                document.getElementById("showtime").innerHTML = "Remaining time : "+min+": 0" + sec;
                sec = parseInt(sec) - 1;
                tim = setTimeout("examTimer()", 1000);
            }
            else {

			    if (parseInt(min)===0 && parseInt(sec)===0){
			    	document.getElementById("showtime").innerHTML = "Remaining time : "+min+":" + sec;
				     alert("Time Up");
				     document.getElementById('min').value=0;
				     document.getElementById('sec').value=0;
				     document.getElementById('questionForm').submit();

			     }

                if (parseInt(sec) === 0) {
				    document.getElementById("showtime").innerHTML = "Remaining time : "+min+":" + '00';
                    min = parseInt(min) - 1;
					sec=59;
                    tim = setTimeout("examTimer()", 1000);
                }

            }
        }
    </script>


    <!-- header -->
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header navbar-left wthree" id="test_details" style="width: 20%">
                    <h4 style="padding-top: 55px;">
                        <span>Subject Code: </span>
                        <br>
                        <span>Test Number: </span>
                    </h4>
                </div>
                <div class="navbar-header navbar-center wthree" style="padding-left: 220px;">
                    <h1>
                        <a href="/">IEM
                            <span>Good Education. Good Jobs.</span>
                        </a>
                    </h1>
                    <!--<a href="index.html"><img src="/images/IEM.jpg" style="width: 300px; height: 200px; padding-top: 50px;"></a>-->

                </div>
                <div class="navbar-header navbar-right wthree" style="width:200px;" >
                    <h4 style="padding-top: 55px;">
                        <span id="showtime">Remaining Time : 10:00
                        </span>
                    </h4>
                </div>
            </div>
        </nav>
    </div>
    <hr style="height: 2px;">
</head>

<body onload="examTimer()">
    <form method="POST" action="" target="_blank" id="questionForm" class="ots">
        <input type="hidden" name="min" id="min">
        <input type="hidden" name="sec" id="sec">
        <% for(var i=0; i<question.length; i++){ %>
            <div>
                <p>
                    <h3>
                        <%= question[i].Q_no %>:
                            <%= question[i].Question %>
                    </h3>
                    <input type="hidden" name="answers" id="<%= question[i].Q_no %>">
                </p>
                <label>
                    <input type="radio" class="option-input radio" name="example" value='1' onclick="document.getElementById('<%= question[i].Q_no %>').value = value;"/>
                    <strong>
                        <%= question[i].Option1 %> &emsp;</strong>
                </label>
                <br>
                <label>
                    <input type="radio" class="option-input radio" name="example"  value='2' onclick="document.getElementById('<%= question[i].Q_no %>').value = value;"/>
                    <strong>
                        <%= question[i].Option2 %> &emsp;</strong>
                </label>
                <br>

                <label>
                    <input type="radio" class="option-input radio" name="example"  value='3' onclick="document.getElementById('<%= question[i].Q_no %>').value = value;"/>
                    <strong>
                        <%= question[i].Option3 %> &emsp;</strong>
                </label>
                <br>
                <label>
                    <input type="radio" class="option-input radio" name="example"  value='4' onclick="document.getElementById('<%= question[i].Q_no %>').value = value;"/>
                    <strong>
                        <%= question[i].Option4 %> &emsp;</strong>
                </label>
                <br>
            </div>
            <br>
            <br>
            <% } %>

                <br>
                <br>
                <br>



                </div>

                <br>
                <br>


                <div style="padding-left: 35%;">
                    <button type="submit" form="question_form" value="Submit" id="sub_btn">
                        <strong>Submit Test</strong>
                    </button>
                    <br>
                    <br>
                    <br>

                </div>

    </form>
</body>

</html>