<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../header', {user: user}); %>
        <!-- <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'> -->
        <!-- <link rel="stylesheet" href="/index/css/loginStyle.css" media="screen" type="text/css" /> -->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="/index/css/sem_select.css" media="screen" type="text/css" />
        <script>


            // <!--document.getElementById("sub_code_ul").innerHTML = "";-->
            // <!--document.getElementById("sem").value = sem;-->
            // <!--var sub = document.getElementById("sub_code_ul");-->
            // <!--var li = document.createElement('li');-->
            // <!--alert('problem start');-->
            // <!--li.value = '' ;-->
            // <!--li.innerHTML = '' ;-->
            // <!--alert('problem solved');alert(li);-->
            // <!--document.getElementById("sub_code_ul").appendChild(li);-->
            // <!--alert('problem solved');-->

            function subject_display(value){
                var sub = document.getElementById('sub_code');
                sub.innerHTML = "";
                var subPlaceholder = document.createElement("OPTION");
                subPlaceholder.label = 'Select Subject';
                subPlaceholder.id = 'subPlaceholder';
                sub.add(subPlaceholder);
                <% for(var i=0; i< subjects.length; i++ ){ %>
                    if(parseInt(value)=== parseInt('<%= subjects[i].sem_code %>')){
                        var option = document.createElement("OPTION");
                        option.value = '<%= subjects[i].sub_code %>';
                        option.label = '<%= subjects[i].sub_code %>';
                        sub.add(option);
                    }
                <% } %>
            }

            function body_load() {
                <% if(sem !== 0){ %>
                    document.getElementById('sem').value = '<%= sem %>';
                    subject_display(<%= sem %>);
                <% } %>
                <% if(sub_code !== ''){ %>
                document.getElementById('sub_code').value = '<%= sub_code %>';
                <% } %>
                document.getElementById('test_key').value = '';
                document.getElementById('action').value = '';
            }

            function toggle(test_key, action) {
                alert('called');
                document.getElementById('test_key').value = test_key;
                alert('setkey');
                document.getElementById('action').value = action;
                alert('setaction');
                if(action === 'delete'){
                    document.getElementById(test_key).style.display = 'none';
                }
                document.getElementById('form').submit();
            }
        </script>
</head>

<body onload="body_load()">
    <hr>
    <form id="form" method="POST">
        <div class="row">
            <div class="column" style="padding-left: 35%; ">
                <select name="sem" id="sem" title="Select Semester" onchange="subject_display(value)"
                        onclick="document.getElementById('semPlaceholder')">
                    <option id="semPlaceholder">Select Semester</option>
                    <option id="sem_1" value="1">First</option>
                    <option id="sem_2" value="2">Second</option>
                    <option id="sem_3" value="3">Third</option>
                    <option id="sem_4" value="4">Fourth</option>
                    <option id="sem_5" value="5">Fifth</option>
                    <option id="sem_6" value="6">Sixth</option>
                </select>
            </div>
            <div class="column" style="padding-left: 2.5%;">
                <select name="sub_code" id="sub_code" title="Select Subject Code" onchange="document.getElementById('form').submit()">
                    <option id="subPlaceholder">Select Subject</option>
                </select>
            </div>
        </div>
        <% if(active !== undefined){ %>
        <div class="row">
        <center>
            <ul class="responsive-table" id="tests_ul">
                <li class="table-header">
                    <div class="col col-1">Test Number</div>
                    <!--<div class="col col-2">Upload</div>-->
                    <!--<div class="col col-3">Upload Status</div>-->
                    <div class="col col-2">Active Status</div>
                    <div class="col col-3">Delete</div>
                    <div class="col col-4">View Result</div>
                </li>
                <% for(var j=0; j<active.length; j++){%>
                <li class="table-row" id="<%= active[j].test_key %>">
                    <div class="col col-1" data-label="Test Number"><%= active[j].test_no %></div>
                    <!--<div class="col col-2" data-label="Upload">-->
                        <!--<button class="button" style="padding-top: 2px;">-->
                            <!--<span>Upload </span>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="col col-3" data-label="Upload Status">-->
                        <!--<a href="#">Uploaded</a>-->
                    <!--</div>-->
                    <% if(active[j].is_active === 1){ %>
                    <div class="col col-2" data-label="Active Status" style="padding-top: 2px">
                        <label class="switch" style="position: relative; display: inline-block; width: 50px; height: 25px;">
                            <input type="checkbox" checked onclick="toggle('<%= active[j].test_key %>', 'toggle')">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <% } %>
                    <% if(active[j].is_active === 0){ %>
                    <div class="col col-2" data-label="Active Status" style="padding-top: 2px">
                        <label class="switch" style="position: relative; display: inline-block; width: 50px; height: 25px;">
                            <input type="checkbox" onclick="toggle('<%= active[j].test_key %>', 'toggle')">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <% } %>
                    <div class="col col-3" data-label="Delete Test">
                        <button class="button" style="padding-top: 2px;" onclick="toggle('<%= active[j].test_key %>', 'delete')">
                            <span>Delete</span>
                        </button>
                    </div>
                    <div class="col col-4" data-label="View Result">
                        <button class="button" style="padding-top: 2px;">
                            <span>Result </span>
                        </button>
                    </div>
                </li>
                <% } %>
            </ul>
        </center>
        </div>
        <% } %>

        <input type="hidden" name="test_key" id="test_key">
        <input type="hidden" name="action" id="action">
    </form>
    <!-- <div class="column" style=" padding-left: 2%;">
            <div class="dropdown">
                <div class="select">
                    <span>Select Test Number</span>
                    <i class="fa fa-chevron-down"></i>
                </div>
                <input type="hidden" name="gender">
                <ul class="dropdown-menu">
                    <li id="first">1</li>
                    <li id="second">2</li>
                    <li id="third">3</li>
                    <li id="fourth">4</li>
                    <li id="fifth">5</li>
                    <li id="sixth">6</li>
                </ul>
            </div>
        </div>
        <div class="column" style="padding-left: 3%; padding-top: 1.5%;">
            <button class="button">
                <span>Upload </span>
            </button>
        </div>
        <div class="column" style="padding-top: 0.5%;"> -->
    <!-- <center><span style="font-size: 16px;">Upload Status</span></center> -->
    <!-- <span style="padding-top: 20px; font-size: 16px;" id="status">
                <center style="padding-top: 12%; color:red;">Upload Pending</center>
            </span>
        </div>
        <div class="column" style=" padding-top: 1.75%; padding-left:3%;">
            <label class="switch" style="position: relative; display: inline-block; width: 100px; height: 34px;">
                <input type="checkbox" checked>
                <span class="slider round"></span>
                <span>Active Status</span>
            </label>
        </div> -->

    <br>
    <br>
    <br>
    <%- include('../footer'); %>
        <script src="/index/js/bootstrap.js"></script>
        <script>
            /*Dropdown Menu*/
            $('.dropdown').click(function () {
                $(this).attr('tabindex', 1).focus();
                $(this).toggleClass('active');
                $(this).find('.dropdown-menu').slideToggle(300);
            });
            $('.dropdown').focusout(function () {
                $(this).removeClass('active');
                $(this).find('.dropdown-menu').slideUp(300);
            });
            $('.dropdown .dropdown-menu li').click(function () {
                $(this).parents('.dropdown').find('span').text($(this).text());
                $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
            });
            /*End Dropdown Menu*/


            $('.dropdown-menu li').click(function () {
                var input = '<strong>' + $(this).parents('.dropdown').find('input').val() + '</strong>',
                    msg = '<span class="msg">Hidden input value: ';
                $('.msg').html(msg + input + '</span>');
            }); 
        </script>

</body>

</html>