<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../header', {user: user}); %>
    <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/index/css/test_homepage.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="/index/css/sem_select.css" media="screen" type="text/css" />
    <script>

        function form_submit(sub_code) {
            alert(sub_code);
            document.getElementById('sub_code').value = sub_code;
            var form = document.getElementById('sub_code_form');
            var action = '/online-tests/<%= sem %>/' + sub_code + '/';
            alert(action);
            alert(form.action);
            form.setAttribute('action', action );
            alert(action);
            alert(form.action);
            document.getElementById('sub_code_form').submit();
        }

    </script>
</head>

<body onpageshow="body_load()">

    <br>
    <br>

    <div class="container">
        <h2>Welcome to IEM Online Test System
            <!-- <small>Triggers on 767px</small> -->
        </h2>
        <br>
        <br>

        <center>
            <ul class="responsive-table" id="sub_table">
                <li class="table-header">
                    <div class="col col-1">Subject Code</div>
                    <div class="col col-2">Subject Name</div>
                    <div class="col col-3">Give Test</div>
                </li>
                <% for(var i = 0; i<subjects.length; i++){ %>
                    <li class="table-row" style="font-family: 'Ubuntu';">
                        <div class="col col-1" data-label="Subject Code">
                            <%= subjects[i].sub_code %>
                        </div>
                        <div class="col col-2" data-label="Subject Name">
                            <%= subjects[i].sub_name %>
                        </div>
                        <% for(var j = 0; j<active.length; j++){ %>
                            <% if(active[j].sub_code === subjects[i].sub_code){ %>
                                <div class="col col-3" data-label="Give Test" onclick="tests('<%= subjects[i].sub_code %>')">
                                    <button class="button" style="padding-top: 2px;" onclick="form_submit('<%= subjects[i].sub_code %>')">
                                        <span>Go to Test</span>
                                    </button>

                                </div>
                                <% break; %>
                            <% } %>
                            <% if(active[j].sub_code !== subjects[i].sub_code){ %>
                                <div class="col col-3" data-label="Give Test">
                                    No Test Available
                                </div>
                                <% break; %>
                            <% } %>
                        <% } %>

                    </li>
                    <% } %>
            </ul>
        </center>
    </div>
<form id="sub_code_form" method="POST">
    <input type="hidden" name="sem" id="sem" value="<%= sem %>>">
    <input type="hidden" name="sub_code" id="sub_code">
</form>
    <br>
    <br>
    <br>
    <br>
    <br>

    <%- include('../footer'); %>
        <script src="/index/js/bootstrap.js"></script>
</body>

</html>