<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include header.ejs %>
</head>
<body>
<div style="height: 550px">
<hr>
<h1>PROFILE PAGE</h1>
<h4><%= user %></h4>
<h4><%= user %></h4>
<h4><%= user %></h4>
<h4><%= user %></h4>
</div>
<%- include('footer'); %>
<script src="/index/js/bootstrap.js"></script>
</body>
</html>