<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../header', {user: user}); %>

        <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

        <link rel="stylesheet" href="/index/css/registerStyle.css" media="screen" type="text/css" />
        <style>

            #sub_btn {
                padding: 10px 20px;
                border-radius: 10px;
                background-color: white;
                color: black;
                border: 2px solid #008CBA;
                font-size: 16px;
                cursor: pointer;
                text-align: center;
                width: 150px;
                height: 50px;
                ;
            }

            #sub_btn:hover {
                box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
                background-color: #008CBA;
                color: white;
            }

            #sub_btn:active {
                background-color: #008CBA;
                transform: translateY(4px);
            }
        </style>
</head>

<body>
    <hr>
    <center>
        <div style="height: inherit">
            <h1>Welcome to
                <%= title %>
            </h1>
            <br>
            <br>
            <br>
            <% if(err){ %>
            <div class="alert alert-danger" role="alert" style="width: 350px">
                <strong><%= err %></strong>
            </div>
            <% } %>
            <div class="login-card" style="width: 350px;">
                <h2>Register</h2>
                <br>
                <form method="post">
                    <!--<br>-->
                    <!--<label for="u_roll">University Roll Number</label>-->
                    <input type="text" id="roll" name="u_id" value="<%= u_id %>" required disabled>
                    <!--<br>-->
                    <!--<label for="email">Email</label><br>-->
                    <input type="email" id="emailAddress" name="email" value="<%= email %>" required disabled>
                    <!--<br>-->
                    <!--<label for="u_roll">University Registration Number</label>-->
                    <input type="text" id="registration" name="u_reg" placeholder="University Registration Number" required>
                    <!--<br>-->
                    <!--<label for="fname">First Name</label>-->
                    <input type="text" id="fname" name="f_name" placeholder="First Name" required>
                    <!--<br>-->
                    <!--<label for="lname">Last Name</label>-->
                    <input type="text" id="lname" name="l_name" placeholder="Last Name" required>
                    <!--<br>-->
                    <!--<label for="bday">Date of Birth</label><br>-->
                    <input name="dob" placeholder="Date of Birth" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="dob" required>
                    <!--<br>-->
                    <!--<label for="department">Department</label>-->
                    <select id="dept" name="dept" style="color: gray;" required>
                        <option value="" disabled selected>Department</option>
                        <option value="BCA">BCA</option>
                        <option value="BBA">BBA</option>
                    </select>
                    <!--<br>-->
                    <!--<label for="adm_year">Admission Year</label>-->
                    <select id="add_year" name="add_year" style="color: gray;" required>
                        <option value="" disabled selected>Admission Year</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                    </select>
                    <!--<br>-->
                    <!--<label for="contact">Contact No.</label>-->
                    <input type="text" id="phn_no" name="contact" placeholder="Your Contact Number" required>
                    <!-- <br><br> --><br><br>
                    <input type="submit" value="Register" class="login login-submit">
                </form>
                <!-- <form>
                    <input type="email" name="email" placeholder="Email">
                    <input type="text" name="f_name" placeholder="First Name">
                    <input type="text" name="l_name" placeholder="Last Name">
                    <input type="text" name="dob" placeholder="Date of Birth">
                    <input type="text" name="contact" placeholder="Phone Number">
                    <input type="submit" name="login" class="login login-submit" value="Register">
                </form> -->

                <!--<div class="login-help">-->
                <!--<a href="#">Register</a> • <a href="#">Forgot Password</a>-->
                <!--</div>-->
            </div>

            <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>


        </div>
    </center>
    <%- include('../footer'); %>
        <script src="/index/js/bootstrap.js"></script>
</body>

</html>