<html>

<head>
    <%- include('./adminHeader', {}); %>
        <hr>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="/index/css/admin_students.css" media="screen" type="text/css" />
</head>

<body>
    <br>
    <br>
    <center>
        <div style="height: 100px;" class="row">
            <div class="column">

            </div>
            <div class="column">
                <select name="slct" id="slct">
                    <option disabled selected>Choose Year</option>
                    <option value="First">First</option>
                    <option value="Second">Second</option>
                    <option value="Third">Third</option>
                </select>
                <select name="slct" id="slct" style="padding-right: 10px; width: 32%;">
                    <option disabled selected>Choose Department</option>
                    <option value="bca">BCA</option>
                    <option value="bba">BBA</option>

                </select>
                <!--<button type="submit" name="view" class="login login-submit" id="view_btn">View</button>-->
            </div>
            <div class="column">

            </div>
        </div>
        <div class="row" style="height: 70px;"></div>
        <div class="row" style="height: 800px; background-color: lightgray;">
            <ul class="responsive-table" id="sub_table">
                <li class="table-header" style="font-weight: bold;">
                    <div class="col col-1">Roll No.</div>
                    <div class="col col-2">Registration No.</div>
                    <div class="col col-3">Email</div>
                    <div class="col col-4">First Name</div>
                    <div class="col col-5">Last Name</div>
                    <div class="col col-6">Date of Birth</div>
                    <div class="col col-7">Department</div>
                    <div class="col col-8">Admission Year</div>
                    <div class="col col-9">Contact</div>
                    <div class="col col-10">Update</div>
                    <div class="col col-11">Delete</div>
                </li>
                <% for( var i=0; i<student.length; i++){ %>
                <li class="table-row" style="font-family: 'Ubuntu';" id="<%= student[i].u_roll %>">
                    <div class="col col-1" data-label="Roll No.">
                        <%= student[i].u_roll %>
                    </div>
                    <div class="col col-2" data-label="Registration No.">
                        <%= student[i].u_reg %>
                    </div>
                    <div class="col col-3" data-label="Email">
                        <%= student[i].email %>
                    </div>
                    <div class="col col-4" data-label="First Name">
                        <%= student[i].f_name %>
                    </div>
                    <div class="col col-5" data-label="Last Name">
                        <%= student[i].l_name %>
                    </div>
                    <div class="col col-6" data-label="Date of Birth">
                        <%= student[i].dob.toDateString() %>
                    </div>
                    <div class="col col-7" data-label="Department">
                        <%= student[i].dept %>
                    </div>
                    <div class="col col-8" data-label="Admission Year">
                        <%= student[i].add_year %>
                    </div>
                    <div class="col col-9" data-label="Contact">
                        <%= student[i].contact %>
                    </div>

                    <div class="col col-10" data-label="Update" style="padding-left: 5px;">
                        <button class="button" style="padding-top: 2px;">
                            <span>Update</span>
                        </button>

                    </div>
                    <div class="col col-11" data-label="Delete" style="padding-left: 5px;">
                        <button class="button" style="padding-top: 2px;">
                            <span>Delete</span>
                        </button>
                    </div>

                </li>
                <% } %>





            </ul>
        </div>
    </center>
</body>

</html>