<html>

<head>
    <%- include('./adminHeader', {}); %>
    <hr>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="/index/css/admin_students.css" media="screen" type="text/css" />
    <style>
        input{
            width: 80%;
        }
    </style>
    <script>
        
     function loadbody() {
         <% if(dept !== '' && dept !== undefined){ %>
         document.getElementById('dept').value = '<%= dept %>';
         <% } %>
         <% if(add_year !== ''&& add_year !== undefined){ %>
         document.getElementById('add_year').value = '<%= add_year %>';
         <% } %>
         document.getElementById('action').value = '';
     }
zz
     function setaction(u_roll, action) {
         document.getElementById('action').value = action;
         document.getElementById('u_roll').value = u_roll;
         if(action === 'delete'){
             document.getElementById(u_roll).style.display = 'none';
             document.getElementById('form').submit();
         }
         else if(action === 'update'){
             // document.getElementById('form').action = '/superAdmin/update-student/'+u_roll;
             document.getElementById('form').submit();
         }
     }
    </script>
</head>

<body onload="loadbody()">
    <br>
    <br>
    <center>
        <form id="form" method="post">
        <div style="height: inherit;" class="row">
            <div class="column">
            </div>
            <div class="column">
                <select name="dept" id="dept" style="padding-right: 10px; width: 36%;" onchange="document.getElementById('form').submit()">
                        <option disabled selected>Choose Department</option>
                        <option value="BCA">BCA</option>
                        <option value="BBA">BBA</option>
                    </select>
                <select name="add_year" id="add_year" style="width: 36%" onchange="document.getElementById('form').submit()">
                        <option disabled selected id="add_year_placeholder">Choose Admission Year</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                    </select>
                <input type="hidden" name="action" id="action">
                <input type="hidden" name="u_roll" id="u_roll">

            </div>
            <div class="column">
            </div>
        </div>
        <div class="row" style="height: 70px;"></div>
        <div class="row" style="height: inherit; background-color: lightgray;">
            <ul class="responsive-table" id="sub_table">
                <li class="table-header" style="font-weight: bold;">
                    <div class="col col-1">Roll No.</div>
                    <div class="col col-2">Registration No.</div>
                    <div class="col col-3">Email</div>
                    <div class="col col-4">First Name</div>
                    <div class="col col-5">Last Name</div>
                    <div class="col col-6">Date of Birth</div>
                    <div class="col col-7">Department</div>
                    <div class="col col-8">Admission Year</div>
                    <div class="col col-9">Contact</div>
                    <div class="col col-10">Update</div>
                    <div class="col col-11">Delete</div>
                </li>


                <% for( var i=0; i<student.length && student !== undefined; i++){ %>
                <li class="table-row" style="font-family: 'Ubuntu';" id="<%= student[i].u_roll %>">
                    <div class="col col-1" data-label="Roll No.">
                        <%= student[i].u_roll %>
                    </div>
                    <div class="col col-2" data-label="Registration No.">
                        <%= student[i].u_reg %>
                    </div>
                    <div class="col col-3" data-label="Email">
                        <%= student[i].email %>
                    </div>
                    <div class="col col-4" data-label="First Name">
                        <%= student[i].f_name %>
                    </div>
                    <div class="col col-5" data-label="Last Name">
                        <%= student[i].l_name %>
                    </div>
                    <div class="col col-6" data-label="Date of Birth">
                        <% if(student[i].dob  !== undefined){ %>
                        <%= student[i].dob.toDateString() %>
                        <% } %>
                    </div>
                    <div class="col col-7" data-label="Department">
                        <%= student[i].dept %>
                    </div>
                    <div class="col col-8" data-label="Admission Year">
                        <%= student[i].add_year %>
                    </div>
                    <div class="col col-9" data-label="Contact">
                        <%= student[i].contact %>
                    </div>

                    <div class="col col-10" data-label="Update" style="padding-left: 5px;">
                        <button class="button" style="padding-top: 2px;" onclick="setaction('<%= student[i].u_roll %>', 'update')">
                            <span>Update</span>
                        </button>

                    </div>
                    <div class="col col-11" data-label="Delete" style="padding-left: 5px;">
                        <button class="button" style="padding-top: 2px;" onclick="setaction('<%= student[i].u_roll %>', 'delete')">
                            <span>Delete</span>
                        </button>
                    </div>

                </li>
                <% } %>





            </ul>
        </div>
        </form>
    </center>
</body>

</html>