<html>

<head>
    <%- include('./adminHeader', {}); %>
        <hr>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="/index/css/admin_teachers.css" media="screen" type="text/css" />
</head>

<body>
    <br>
    <br>
    <center>
<<<<<<< HEAD
        <!-- <div style="height: 100px;" class="row">
=======
        <div style="height: inherit;" class="row">
>>>>>>> 664d7f0c7ac64c5692b17041ad74b7fd9663ed34
            <div class="column">

            </div>
            <div class="column">
                <select name="slct" id="slct" style="padding-right: 10px; width: 32%;">
                    <option disabled selected>Choose Department</option>
                    <option value="bca">BCA</option>
                    <option value="bba">BBA</option>

                </select>
            </div>
            <div class="column">

            </div>
<<<<<<< HEAD
        </div> -->
        <div class="row" style="height: 30px;"></div>
        <div class="row" style="height: 800px; background-color: lightgray;">
=======
        </div>
        <div class="row" style="height: 70px;"></div>
        <div class="row" style="height: inherit; background-color: lightgray;">
>>>>>>> 664d7f0c7ac64c5692b17041ad74b7fd9663ed34
            <ul class="responsive-table" id="sub_table">
                <li class="table-header" style="font-weight: bold;">
                    <div class="col col-1">Teacher ID</div>
                    <div class="col col-2">First Name</div>
                    <div class="col col-3">Last Name</div>
                    <div class="col col-4">Contact</div>
                    <div class="col col-5">Email</div>
                    <div class="col col-6">Facebook ID</div>
                    <div class="col col-7">Google Plus ID</div>
                    <div class="col col-8">Designation</div>
                    <div class="col col-9">Update</div>
                    <div class="col col-10">Delete</div>
                </li>

                <% for( var i=0; i<teacher.length; i++){ %>
                <li class="table-row" style="font-family: 'Ubuntu';" id="<%= teacher[i].tch_id %>">
                    <div class="col col-1" data-label="Teacher ID">
                        <%= teacher[i].tch_id %>
                    </div>
                    <div class="col col-2" data-label="First Name">
                        <%= teacher[i].f_name %>
                    </div>
                    <div class="col col-3" data-label="Last Name">
                        <%= teacher[i].l_name %>
                    </div>
                    <div class="col col-4" data-label="Contact">
                        <%= teacher[i].contact %>
                    </div>
                    <div class="col col-5" data-label="Email">
                        <%= teacher[i].email %>
                    </div>
                    <div class="col col-6" data-label="Facebook ID">
                        <%= teacher[i].facebook_id %>
                    </div>
                    <div class="col col-7" data-label="GooglePlus ID">
                        <%= teacher[i].googleplus_id %>
                    </div>
                    <div class="col col-8" data-label="Designation">
                        <%= teacher[i].designation %>
                    </div>
                    <div class="col col-9" data-label="Update" style="padding-left: 5px;">
                        <button class="button" style="padding-top: 2px;">
                            <span>Update</span>
                        </button>

                    </div>
                    <div class="col col-10" data-label="Delete" style="padding-left: 5px;">
                        <button class="button" style="padding-top: 2px;">
                            <span>Delete</span>
                        </button>
                    </div>

                </li>
                <% } %>





            </ul>
        </div>
    </center>
</body>

</html>