<html>

<head>
    <%- include('./adminHeader', {}); %>
        <hr>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="/index/css/update_stu_tch.css" media="screen" type="text/css" />
</head>

<body>
    <br>
    <br>
    <div class="login-card" style="width: 350px;">
        <h2>Update Teacher Data</h2>
        <br>
        <form method="post" action="/superAdmin/update-teacher">
            <% if(err){ %>
            <div class="alert alert-danger" role="alert" style="width: 350px">
                <strong><%= err %></strong>
            </div>
            <% } %>
            <input type="text" id="tch_id" name="tch_id" value="<%= details[0].tch_id %>" required disabled>
            <input type="hidden" name="u_id" id="u_id" value="<%= details[0].tch_id %>" required>
            <input type="email" id="emailAddress" name="email" value="<%= details[0].email %>" required>
            <input type="text" id="f_name" name="f_name" placeholder="First Name" value="<%= details[0].f_name %>" required>
            <input type="text" id="l_name" name="l_name" placeholder="Last Name" value="<%= details[0].l_name %>" required>
            <input type="text" id="facebook_id" name="facebook_id" placeholder="Link to Facebook Id(Optional)">
            <input type="text" id="googleplus_id" name="googleplus_id" placeholder="Link to Google Plus Id(Optional)"value="<%= details[0].goo %>">
            <input type="text" id="designation" name="designation" placeholder="Designation"value="<%= details[0].designation %>">
            <input type="text" id="phn_no" name="contact" placeholder="Your Contact Number" value="<%= details[0].contact %>" required>
            <input type="submit" value="Update" class="login login-submit">
            <input type="button" value="Cancel" class="login login-submit" style="float: right" onclick="location.refresh()">
        </form>
    </div>

</body>

</html>