<html>

<head>
    <%- include('./adminHeader', {}); %>
        <hr>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="/index/css/update_stu_tch.css" media="screen" type="text/css" />
</head>

<body onload="document.getElementById('dept').value = '<%= subject[0].dept %>';">
    <br>
    <br>
    <center>
    <% if(err){ %>
    <div class="alert alert-danger" role="alert" style="width: 350px">
        <strong><%= err %></strong>
    </div>
    <% } %>
    <% if(success){ %>
    <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> <%= success %>
    </div>
    <% } %>
    <div class="login-card" style="width: 350px;">
        <h2>Add Subject</h2>
        <br>
        <form method="post" action="/superAdmin/update-subject">
            <input type="hidden" id="sub_code" name="old_sub_code" placeholder="Subject Code" required value="<%= subject[0].sub_code %>">
            <input type="number" maxlength="1" id="sem" name="sem_code" placeholder="Semester No." required value="<%= subject[0].sem_code %>">
            <input type="text" id="sub_code" name="sub_code" placeholder="Subject Code" required value="<%= subject[0].sub_code %>">
            <input type="text" id="sub_name" name="sub_name" placeholder="Subject Name" required value="<%= subject[0].sub_name %>">
            <select id="dept" name="dept" style="color: gray;" required>
                <option value="" disabled selected>Department</option>
                <option value="BCA">BCA</option>
                <option value="BBA">BBA</option>
            </select>
            <input type="submit" value="Update" class="login login-submit">
            <input type="button" value="Cancel" class="login login-submit" onclick="window.open('/superAdmin/subjects', '_self')">
        </form>
    </div></center>
</body>

</html>